.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    // grid-template-columns: 100%;
    // grid-template-rows: .5fr 1fr 1fr;
    // padding: 0 15px;
    // justify-content: center;

    .button {
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        font-weight: 400;
        font-size: 1.2rem;
        // text-transform: uppercase;
        color: $darker-color;
        background-color: $primary-color;
        border-radius: 6px;
        outline: none;
        cursor: pointer;

        &:hover {
            background-color: darken($primary-color, 20%);
        }
    }

    .about-text {
        padding: 20px;
        margin: 0 20px;
        color: $lighter-color;

        h2 {
            font-family: $font-header;
            font-weight: 400;
            color: $primary-color;
            padding: 5px;
            font-size: 4rem;
        }

        h3 {
            padding: 5px;
            font-size: 1.3rem;
            font-weight: 200;
        }

        p {
            padding: 25px;
            font-size: 1rem;
        }

    }

    i {
        font-size: 2rem;
        color: $primary-color;
    }


    .about-img {
        padding: 0 10px;

        img {
            width: 100%;

        }
    }

    // button {
    //     background: $primary-color;
    //     border: 1px solid $primary-color;
    //     border-radius: 5px;
    //     padding: 5px;
    //     text-transform: uppercase;

    //     a {
    //         font-size: .7rem;
    //         font-weight: 400;
    //         color: $darker-color;
    //     }
    // }
}