@media(min-width:950px) {

    // HEADER 
    .nav-header {
        display: block;
    }

    .flex-nav {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .container {
        max-width: 100%;

        img {
            height: 100px;
        }

        nav {
            height: auto;

            ul {
                text-align: center;

                li {
                    display: inline-block;
                    border-bottom: none;
                }
            }
        }

        button {
            display: none;
        }
    }

    // BANNER BACKGROUND
    .banner-bg {
        height: 100vh;

        .banner-text {
            text-align: end;
            line-height: 1.7em;

            h2 {
                font-size: 5rem;
            }

            h3 {
                font-size: 2.8rem;
            }

            .name {
                font-size: 3.5rem;
            }
        }

    }

    // ABOUT ME SECTION 
    .about {

        .about-text {
            grid-column: 1 / span 2;
            grid-row: 1 / span 2;

            h2 {
                font-size: 7rem;
            }

            h3 {
                font-size: 1.5rem;
            }

            p {
                font-size: 1.2rem;
            }

            button {
                padding: 15px;

                a {
                    font-size: 1rem;
                }

                a:hover {
                    color: $darker-color;
                }
            }

            .about-img {
                grid-column: 3;
                grid-row: 1 / span 2;
            }
        }
    }

    // SECOND ABOUT ME PAGE
    .about-2 {
        .about-text-2 {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: .2fr .5fr .5fr;
            // align-items: center;

            h1 {
                grid-column: span 3;
            }

            .first-text {
                grid-column: 1 / span 2;
                grid-row: 2;
                // padding: 20px;
                margin: 20px;
                border-bottom: none;
            }

            .second-text {
                margin: 20px;
                grid-column: 3;
                grid-row: 2;
                border-bottom: none;
            }

            .experience {
                margin: 20px;
                grid-column: 1;
                grid-row: 3;
                border-bottom: none;

            }

            .skills {
                margin: 20px;
                grid-column: 3;
                grid-row: 3;
            }

            .education {
                margin: 20px;
                grid-column: 2;
                grid-row: 3;
                border-bottom: none;

            }
        }
    }

    // SECOND BANNER BACKGROUND
    .banner-second {
        background: url(../img/view.webp);
        // visibility: visible;
        padding: 200px;
        background-size: cover;
        background-attachment: fixed;
    }

    // PORTFOLIO
    .portfolio {
        h2 {
            font-size: 7rem;
        }
    }

    // CONTACT
    .contact-container {
        .contact-right {
            h2 {
                font-size: 7rem;
            }
        }
    }
}