@media(min-width:950px) {


    .nav-header {
        display: block;
    }

    .flex-nav {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .container {
        max-width: 100%;

        img {
            height: 100px;
        }

        nav {
            height: auto;

            ul {
                text-align: center;

                li {
                    display: inline-block;
                    border-bottom: none;
                }
            }
        }

        button {
            display: none;
        }
    }

    // BANNER BACKGROUND
    .banner-bg {
        height: 100vh;

        .banner-text {
            text-align: end;
            line-height: 1.7em;

            h2 {
                font-size: 5rem;
            }

            h3 {
                font-size: 2.8rem;
            }

            .name {
                font-size: 3.5rem;
            }
        }

    }

    // ABOUT ME SECTION 
    .about {

        .about-text {
            grid-column: 1 / span 2;
            grid-row: 1 / span 2;

            h2 {
                font-size: 7rem;
            }

            h3 {
                font-size: 1.5rem;
            }

            p {
                font-size: 1.2rem;
            }

            button {
                padding: 15px;

                a {
                    font-size: 1rem;
                }

                a:hover {
                    color: $darker-color;
                }
            }

            .about-img {
                // position: relative;
                grid-column: 3;
                grid-row: 1 / span 2;
                // height: 80vh;
                // background-color: $primary-color;
                // background: url(/img/about-bg-2.jpg);
                // background-size: cover;
            }
        }
    }


    // Second banner picture
    .banner-second {
        background: url(/img/view.webp);
        // visibility: visible;
        padding: 200px;
        background-size: cover;
        background-attachment: fixed;
    }


    .portfolio {
        h2 {
            font-size: 7rem;
        }
    }

    .contact-container {
        .contact-right {
            h2 {
                font-size: 7rem;
            }
        }
    }
}