@media (min-width: 600px) {

    .about {
        display: grid;
        grid-template-columns: 1fr .5fr 1fr;
        // grid-template-rows: repeat(2, 1fr);

        .about-text {
            grid-column: 1 / span 2;
            // grid-row: 1;
        }

        .about-img {
            grid-column: 3;
            align-self: center;

            img {
                border: 1px solid $primary-color;
                padding: 10px;
            }
        }

    }

    // Second About me page

    .about-text-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: .2fr .5fr .5fr .5fr;
        align-items: center;

        h1 {
            grid-column: span 2;

        }

        .first-text {
            grid-column: 1;
            grid-row: 2;
            padding: 20px;
            margin: 20px;
            border-bottom: none;
        }

        .second-text {
            grid-column: 1;
            grid-row: 3;
            border-bottom: none;
        }

        .experience {
            grid-column: 2;
            grid-row: 2;
            border-bottom: none;
        }

        .education {
            grid-row: 3;
            border-bottom: none;
        }

        .skills {
            grid-column: span 2;
        }
    }


    // // Second banner picture
    // .banner-second {
    //     background: url(/img/view.webp);
    //     visibility: visible;
    //     padding: 150px;
    //     background-size: cover;
    //     background-attachment: fixed;
    // }

    .portfolio {
        grid-template-columns: repeat(3, 1fr);

        .portfolio-text {
            grid-column: span 3;
        }

        h2 {
            padding-top: 40px;
        }

        h3 {
            padding: 20px;
            text-align: center;
        }

    }


    // CONTACT FORM
    .contact-container {
        // max-width: 1170px;

        .wrapper {
            display: grid;
            grid-template-columns: 1fr 2fr;
            background-color: $darker-color;
        }

        .wrapper>* {
            padding: 2em;
        }
    }
}