@import 'config';
@import 'navbar';
@import 'banner';
@import 'about';
@import 'about-2';
@import 'portfolio';
@import 'contact';
@import 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $darker-color;
    color: $primary-color;
    font-family: $font-stack;
    font-weight: 200;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: $lighter-color;
    text-decoration: none;
    font-family: $font-stack;
    font-weight: 100;
    font-size: 1.2rem;
}

a:hover {
    color: $primary-color;
}

// button:hover {
//     background-color: darken($primary-color, 10%);
// }

@import 'tablet';
@import 'desktop';